.dish {
    text-align: center;
    /* width: 30%; */
    /* float: left; */
    /* position: relative; */
    /* display: flex; */
    max-width: 80%;
    align-items: center;
}

.picture {
    /* width: 100px; */
    display: inline-block;
    height: auto;
    max-width: 70%;
}

