.dish {
    text-align: center;
    /* width: 30%; */
    /* float: left; */
    /* position: relative; */
    /* display: flex; */
    max-width: 80%;
    /* align-items: center; */
}

.picture {
    /* width: 100px; */
    display: inline-block;
    height: auto;
    min-height: 30%;
    max-width: 70%;
    min-width: 20%;
}

.menu-description {
    margin-top: 0%;
    margin-bottom: 5%;
    display: inline-block;
    max-width: 70%;
    min-width: 50%;
}

.description {
    text-align: center;
}

.shop-name {
    position: relative;
    /* text-align: left; */
    max-width: 70%;
    padding-inline-start: 10%;
    /* margin-right: 10px; */
}
